<%- include("../partials/nav") %>

<div class="name-desc">
    <form action="/teams/<%= team._id %>?_method=PATCH" method="post">
        <fieldset>
           <label>Name:</label>
           <input type="text" name="name" value="<%= team.name ? team.name : '' %>" placeholder="Untitled">
           <label>Description:</label>
           <input type="text" name="description" value="<%= team.description ? team.description : '' %>">
           <input type="submit">
        </fieldset>
    </form>
</div>
<br>
<div class="team-members">
    <% team.members.forEach(member => { %>
        <h3>Pokemon <%= (team.members.indexOf(member) + 1) %></h3>
        <form action="/teams/<%= team._id %>?_method=PATCH" method="post">
            <input type="hidden" name="memberId" value="<%= member._id %>">
            <label>Name:</label>
            <input name="name" type="text" value="<%= member.name ? member.name : '' %>">
            <br>
            <label>Species:</label>
            <input name="species" type="text" value="<%= member.species %>" required>
            <br>
            <label>Ability:</label>
            <input name="ability" type="text" value="<%= member.ability ? member.ability : '' %>">
            <br>
            <label>Moves:</label>
            <ol>
                <% member.moves.forEach(move => { %>
                    <li>
                        <input name="moves" type="text" placeholder="New Move" value="<%= move ? move : '' %>">
                    </li>
                <% }) %>
            </ol>
            <input type="submit" value="Confirm changes">
        </form>
        <br>
    <% }) %>
    <br>
    <h3>New Pokemon</h3>
    <form action="/teams/<%= team._id %>" method="post">
        <label>Name:</label>
        <input name="name" type="text" placeholder="Nickname">
        <br>
        <label>Species:</label>
        <input name="species" type="text" placeholder="Species" required>
        <br>
        <label>Ability:</label>
        <input name="ability" type="text">
        <br>
        <label>Moves:</label>
        <ol>
            <% for (let i = 0; i < 4; i++) { %>
                <li>
                    <input name="moves" type="text" placeholder="New Move">
                </li>
            <% } %>
        </ol>
        <br>
        <input type="submit" value="Add to team">
    </form>
</div>
<br>
<br>
<a href="/users/<%= user._id %>">Done Editing</a>

<%- include("../partials/footer") %>